[Unit]
Description=Node Exporter Service
After=network-online.target
Wants=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/node_exporter
Restart=Always
StartLimitBurst=0
RestartSec=600

[Install]
WantedBy=multi-user.target
After=network-online.target
Wants=network-online.target
